body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  border-left-width: 10px;
  padding-top: 50px;
  background-image: url("4.jpg");
  /* overflow-y: scroll; */
}
/* html,
body {
  overflow-y: scroll !important;
} */

html {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
.h {
  font-size: 3rem;
  color: #dccaa0;
}
