<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.8.335/pdf.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style>
      body {
        background-image: url("static/4.jpg");
        padding-left: 25px;
        padding-top: 12px;
      }
      .btn.btn-info {
        margin-left: 7px;
      }
      .l1 {
        font-size: 18px;
        color: #dccaa0;
        padding-bottom: 12px;
        padding-top: 25px;
        padding-right: 5px;
      }

      .le {
        font-size: 40px;
        color: #dccaa0;
        margin: 20px;
      }
      .l {
        font-size: 18px;
        color: #dccaa0;
        padding-bottom: 12px;
        padding-top: 12px;
        padding-right: 5px;
      }
    </style>

    <title>Add Subject</title>
  </head>
  <body>
    <p class="le">Add new subject</p>
    <form
      class="container-fluid"
      action="http://127.0.0.1:5000/newsub"
      method="POST"
    >
      <div class="row">
        <div class="col-md-4 col-xs-6">
          <label class="l">Subject Code</label>
          <input
            name="subject_code"
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Subject code"
          />
        </div>
        <div class="col-md-4 col-xs-6">
          <label class="l">Subject Name</label>
          <input
            name="subject_name"
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Subject name"
          />
        </div>
        <div class="col-md-4 col-xs-6">
          <label class="l">Semester</label>
          <input
            name="semester"
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Semester"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-xs-12">
          <label class="l">Syllabus</label>
          <input id="inputfile" type="file" style="color: white" />
          <textarea
            id="texty"
            class="form-control"
            rows="9"
            name="syllabus"
          ></textarea>
        </div>
      </div>
      <br />
      <button type="button" class="btn btn-success" id="addnewb">
        Add New Validator
      </button>
      <div class="row" id="addnew" style="display: none">
        <div class="col-md-4 col-xs-8">
          <label class="l1">Validator email</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Validator email"
            name="valem"
          />
        </div>
        <div class="col-md-4 col-xs-8">
          <label class="l1">Validator Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Validator Password"
            name="valpass"
          />
        </div>
        <div class="col-md-4 col-xs-8">
          <label class="l1">Validator Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Validator Name"
            name="valname"
          />
        </div>
      </div>

      <br />
      <br />
      <button type="submit" class="btn btn-primary">OK</button>
      <button type="button" class="btn btn-info">CANCEL</button>
    </form>
    <script>
      $(document).ready(function () {
        $("#addnewb").click(function () {
          $("#addnew").toggle(500);
        });
      });
      // var file = document.getElementById("myFile").files[0];
      // var reader = new FileReader();
      // reader.onload = function (e) {
      //   var textArea = document.getElementById("texty");
      //   textArea.value = e.target.result;
      // };
      // reader.readAsText(file);
      document
        .getElementById("inputfile")
        .addEventListener("change", function () {
          var fr = new FileReader();
          fr.onload = function () {
            // console.log(this.files[0].type);
            var temp = document.getElementById("texty");
            document.getElementById("texty").textContent = fr.result;
            // console.log(temp.value);
          };
          console.log(this.files[0].type);
          if (this.files[0].type === "application/pdf") {
          }
          var printy = fr.readAsText(this.files[0]);
          console.log(printy.toString());
        });
    </script>
  </body>
</html>
