<html>
  <head>
    <title>Qn PDF</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <style>
    .headerss {
      text-transform: uppercase;
      text-align: center;
      margin-top: -12px;
      font-weight: normal;
    }

    .alignleft {
      float: left;
      margin-left: 19px;
    }
    .alignright {
      float: right;
      margin-right: 19px;
    }
    .questions {
      margin-left: 19px;
      font-weight: normal;
    }
  </style>
  <body>
    <!-- <h2></h2> -->
    <div>
      <h2
        style="text-align: left; margin-top: -3px; font-weight: normal"
        class="alignleft"
      >
        Date : {{ elements[elements|length-1] }}
      </h2>
      <h2 style="text-align: right">
        Reg No. : ________________________________
      </h2>
    </div>

    <br />
    {% for i in range(elements|length-3) %} {% if i==0 %}
    <h2 class="headerss" style="font-weight: bold">{{ elements[i] }}</h2>
    {% else %}
    <h3 class="headerss">{{ elements[i] }}</h3>
    {% endif %} {% endfor %}
    <!-- <div class="flex-container"> -->
    <div>
      <h3 class="alignleft headerss" style="text-transform: capitalize">
        Time: {{ elements [elements|length-3] }}
      </h3>
      <h3 class="alignright headerss" style="text-transform: capitalize">
        Maximum : {{ specis[1]}} Marks
      </h3>
    </div>
    <br />
    {% set temp = namespace(value=0) %}
    <br />
    {% for i in range(specis[2]|int) %}
    <div>
      <br />
      <br />
      <h3 class="headerss">
        {{ elements[elements|length-2] }} - {{ (i+65|int) | ascii_to_char }}
      </h3>
      <!-- {% if temp != 0 %} temp=temp+2 {% endif %} -->
      {% if que_specis[temp.value+2]=='or' %}
      <h3
        class="alignright"
        style="text-transform: capitalize; margin-top: -39px"
      >
        ({{que_specis[temp.value]}} * {{que_specis[temp.value+1]|int //
        que_specis[temp.value]|int}} = {{ que_specis[temp.value+1] }})
      </h3>
      {% else %}
      <h3
        class="alignright"
        style="text-transform: capitalize; margin-top: -39px"
      >
        ({{que_specis[temp.value]|int // 2}} * {{que_specis[temp.value+1]|int //
        que_specis[temp.value]|int}} = {{ que_specis[temp.value+1]|int //2 }})
      </h3>
      {% endif %}
    </div>
    <br />
    {% for j in range(questions[i]|length) %} {% set temp_list =
    questions[i][j].split('|') %} {% if que_specis[temp.value+2]=='either' and
    j%2==0 %}
    <h3 class="questions">{{j//2 + 1}}. {{temp_list[0]}}</h3>
    {% elif que_specis[temp.value+2]=='either' and j%2!=0 %}
    <h3 class="questions" style="margin-left: 39px">{{temp_list[0]}}</h3>
    {% else %}
    <h3 class="questions">{{j+1}}. {{temp_list[0]}}</h3>
    {% endif %} {% if(temp_list[1]) %}
    <div style="margin-left: 42px">
      <img src="{{temp_list[1]}}" height="170" width="600" />
    </div>
    {% endif %} {% if j%2==0 and (que_specis[temp.value+2])=='either' %}
    <h4 class="headerss">{or}</h4>
    {% endif %} {% endfor %} {% set temp.value = temp.value+3 %}{% endfor %}
    <!-- </div> -->
  </body>
</html>
