<html>
  <head>
    <title>Download Specifications</title>
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename = 'download.css')}}"
    /> -->
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename = 'download.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename = 'logout.css')}}"
    />
    <style>
      body {
        align-items: flex-start;
      }
    </style>
  </head>
  <body>
    <a href="http://127.0.0.1:5000/logout">
      <button
        type="button"
        style="
          float: right;
          padding: 7px 35px;
          text-transform: capitalize;
          margin-top: -1em;
          margin-right: -60em;
        "
        class="btn btn-outline-info logoutbut btn-2"
      >
        Logout
      </button>
    </a>
    <form
      name="downform"
      action="http://127.0.0.1:5000/tempdownproc"
      method="POST"
    >
      {% for tempo in range(specs|length) %}
      <input
        type="hidden"
        name="specs_{{ tempo }}"
        value="{{ specs[tempo] }}"
      />
      {% endfor %} {% for spec in range(specs[2]|int) %}
      <h1 class="le" style="padding-bottom: 0.15em">Section {{spec+1}}</h1>
      {% for blah in range(specs[3+(3*spec)]|int) %}
      <p style="color: #dccaa0">Question {{blah+1}}</p>
      <select
        name="'section_{{spec}}_question_{{blah}}_co'"
        class="form-select form-select-lg"
        aria-label=".form-select-lg example"
      >
        <option selected>Choose CO-level</option>
        <option value="co_1">CO 1</option>
        <option value="co_2">CO 2</option>
        <option value="co_3">CO 3</option>
        <option value="co_4">CO 4</option>
        <option value="co_5">CO 5</option>
      </select>
      <select
        name="'section_{{spec}}_question_{{blah}}_di'"
        class="form-select form-select-lg"
        aria-label=".form-select-lg example"
      >
        <option selected>Choose Diff level</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
      {% endfor %} {% endfor %}
      <br />
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>
