<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Download Q-Paper</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename = 'download.css')}}"
    />
    <link rel="stylesheet" type="text/css" href="../static/download.css" />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <p class="le">Download Question Paper</p>
    <!-- <strong> Adding and Deleting Input fields Dynamically</strong> -->

    <div style="width: 85%">
      <form action="http://127.0.0.1:5000/downroc1" method="POST">
        <div class="">
          <div class="">
            <div class="">
              <select
                name="subname"
                class="form-select form-select-lg"
                aria-label=".form-select-lg example"
              >
                <option selected>Choose Subject</option>
                {% for subject in subject_list %}
                <option value="{{subject}}">{{subject}}</option>
                {% endfor %}
              </select>
            </div>
            <label for="marks" class="l">Total marks of the exam</label>
            <input type="text" name="marks" id="marks" />
            <label class="l" for="no_sections"
              >Number of sections in the question paper</label
            >
            <select
              name="no_sections"
              class="form-select form-select-lg"
              aria-label=".form-select-lg example"
            >
              <option selected value="1">One</option>
              <!-- <option value="1">One</option> -->
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
            </select>
            <!-- <input name="question_0" type="text" class="form-control m-input" /> -->
          </div>
        </div>
        <button id="rowAdder" type="button" class="btn btn-success">
          <span class="bi bi-plus-square-dotted"> </span> ADD
        </button>
        <div id="newinput"></div>
        <button type="submit" class="btn btn-primary">OK</button>
      </form>
      <script>
        $(document).ready(function () {
          var count_item = 0;
          $("#rowAdder").on("click", function () {
            count_item += 1;
            if (count_item <= 5) {
              $("<input/>")
                .attr({
                  type: "number",
                  placeholder: "Number of Questions in Section " + count_item,
                  name: "num_ques_sec" + count_item,
                  style: "width:60%;",
                })
                .appendTo("#newinput")
                .wrap($("<div/>"));
              $("<input/>")
                .attr({
                  type: "number",
                  placeholder: "Marks of section " + count_item,
                  name: "marks_section_" + count_item,
                })
                .appendTo("#newinput")
                .wrap($("<div/>"));
              $;

              blah =
                '<div style="display:flex;margin-top:5px;">' +
                '<h6 style="color:white; margin-bottom:0em;">Is this a Either Or section?</h6>' +
                '<input style="margin-left:5px;" type="radio" id="either_' +
                count_item +
                '" name="eitheror_' +
                count_item +
                '" value="either">' +
                '<label style="margin-bottom:0em;color:white;" for="either" ">Yes</label><br>' +
                '<input style="margin-left:5px;" type="radio" id="or_' +
                count_item +
                '" name="eitheror_' +
                count_item +
                '" value="or">' +
                '<label style="margin-bottom:0em;color:white;" for="or" ">No</label><br>' +
                "</div>";
              $("#newinput").append(blah);
            }
          });
        });
      </script>
    </div>
  </body>
</html>
